.profile-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background-color: var(--color-primaryv1);
  padding: 1.5rem;
  border-radius: 0.5rem;
  color: #000;
}

.profile-avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.profile-info {
  color: rgb(0, 0, 0);
}

.profile-username {
  font-size: 1.5rem;
  font-weight: bold;
}

.profile-email {
  color: grey;
}

.logout-button {
  margin-left: auto;
  background-color: rgb(239 68 68);
  color: white;
}
